.add-button {
  background-color: transparent;
  align-items: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url(../../images/icons/icon-plus.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
  outline: none;
  padding: 0;
  margin: 0;
  height: 50px;
  transition: opacity 0.3s ease-in;
}

.add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:767px){
  .add-button {
    background-size: 16px 16px;
  }
}

@media screen and (min-width:768px){
  .add-button {
    background-size: 22px 22px;
  }
}
