.profile__add-button {
  margin: auto 0 auto auto;
}

@media screen and (max-width:909px){
  .add-button {
    width: 100%;
  }
}

@media screen and (min-width:910px){
  .add-button {
    width: 150px;
  }
}

