.photo-cards {
  display: grid;
}

@media screen and (max-width:619px){
  .photo-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (min-width:620px) and (max-width:909px){
  .photo-cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 17px;
  }
}

@media screen and (min-width:910px){
  .photo-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px;
  }
}
