.photo-card {
  width: 282px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: smooth-appearance 0.5s ease-in-out forwards;
  position: relative;
}



@keyframes smooth-appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
