.profile__info {
  color: #fff;
  font-family: 'Inter', ‘Arial’, sans-serif;
  display: flex;
  flex-direction: column;
  align-self: center;
}


@media screen and (min-width:889px) {
  .profile__info {
    justify-content: center;
  }
}

@media screen and (max-width:890px) {
  .profile__info {
    margin-bottom: 36px;
  }
}
